@font-face {
    font-family: 'SF-UI-Display-Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('../font/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
font-family: 'SF-UI-Display-Light';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Light'), url('../font/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

.mainText h1 {
    font-size: 30px;
    font-family: 'SF-UI-Display-Thin';
    color: #2f3842;
    margin: 0;
    font-weight: 590;

}

.mainText {
    text-align: center;
    padding: 30px;
}

.plan--wrapper {
    background: #F2F2F2;
    padding-bottom: 60px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

@media (min-width: 991px)
.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    float: left;
}

.planItem {
    width: 24%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    background: white;
    border: 2px solid #1CA0A4;
    margin-bottom: 14px;
    height: 110px;
    transition: 0.5s;
    border-radius: 10px;
    padding-left: 25px;
}

.planItem:hover {
	background-color: #1CA0A4;
	color: #FFF;
}
.planItem img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
img {
    border-style: none;
}

.planItem__text a {
    font-size: 17px;
    display: block;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'SF-UI-Display-Thin';
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.planItem__text span {
    font-size: 14px;
    display: block;
    color: #475665;
    text-transform: capitalize;
    text-align: left;
    font-family: 'SF-UI-Display-Thin';
}


.background-dangky {
    position: relative;
    height: 300px;
    background-color: #d2eced;
}

.box-br {
    position: absolute;
    width: 400px;
    border: 2px solid #1CA0A4;
    top: -30px;
    right: 10%;
    width: 80%;
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
    height: 217px;
    background-color: #fff;
    padding: 30px;
}

.box-br h3{

    color: #05564f;
    font-family: 'SF-UI-Display-Thin';
}

.texth3{
    margin-bottom: 25px;
}  
.bton-start {
    background-color: #077e9e;
    border-radius: 6px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: #FFF !important; 
    font-size: 20px !important;
    cursor: pointer;
}

.bton-start:hover{
    background-color: #2197b7;
    cursor: pointer;
}


.box-product{
    border: 2px solid #1CA0A4;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    background: #FFF;
    z-index: 99;
    border-radius: 14px;

}


.sub-box{
    height: 300px;
    border: 2px solid #1CA0A4;
    border-radius: 30px;
    background: #FFF;

}

.box-re{
    padding-top: 46px;
}

.uathich-logo {
    border: 2px solid #1CA0A4;
    border-radius: 22%;
    width: 181px;
    height: 133px;
    position: absolute;
    top: -58px;
    left: 26%;
    z-index: -1;
    padding-left: 50px;
    padding-top: 10px;

}

.main-like{
    margin-bottom: 45px;
}

.mar-like{
    margin-top: 60px;
}

.relati{
    position: relative;
}

.img-company-logo{

    width: 60%;
    height: 30%;
}

.box-product:hover{
    background-color: #1CA0A4;
    color: #FFF;

}

.madeEasy1{
   background-color: #FFF; 
}


.planItem i {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-size: 40px;
}

.planItem:hover .span-bv{
    color: #FFF;
}

@media (min-width:768px) and (max-width:991px){
    .plan--wrapper{
        flex-direction: column;
    }
    .plan{
        width: 100%;
    }
    .plan__img{
        display: none;
    }
}
@media only screen and (max-width:767px){
    .planItem {
        width: 49%;
    }
    .plan{
        width: 100%;
    }
    .plan__img{
        display: none
    }
    .mainImg img{
       height: auto !important;
    }
    .section__bigTitle{
        font-size: 35px !important;
        line-height: 1.5 !important;
    }
    .imfo--inner{
        flex-direction: column
    }
    .imfo--inner img{
        float: none;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:450px){
    .planItem{
        width:100%;
    }
}
/*end plan*/
@media only screen and (max-width:375px){
    .planItem{
        width:30%;
        height: 76px;
        display: inline-block;
        padding-left: 6px;
        padding-top: 5px;

    }
}
@media only screen and (max-width:375px){
    .planItem__text span{
      display: none;
    }
}
@media only screen and (max-width:375px){
    .mainText{
    padding:2px 0px 10px 30px;
    }
    .mainText h1{
        font-size: 19px;
    font-weight: 600;
    }
    .mainText p{
        font-size: 12px;
    }
    .planItem img{
      
        width: 30px;
        height: 30px;
        margin-top: 2px;

    }
    .planItem__text a {
         font-size: 10px;
         margin-bottom: 0px;
         line-height: 11px;
         text-align: center;
    }
    .background-dangky{
        height: 210px;
    }
    .box-br h3{
        margin-top: 8px;
        font-size: 18px;
    }
    .bton-start{
        font-size: 10px !important;
        padding-left: 30px;
        padding-right: 30px;
    }
    .owl-carousel .item {
        height: 20rem !important;
        width: 90%;
    margin-left: 7%;
    }
    .item h4 {
        font-size: 20px;
    }
    .item p{
        font-size: 15px;
    }
    .bt-chitiet {
        margin-top: 10px;
        font-size: 12px;
    }
  
}
/* @media only screen and (max-width: 767px){
  .mainText h1 {
    font-size: 30px;
}
} */
.owl-carousel>.item {
    height: 22rem;
    background: #FFF;
    padding: 1rem;
    border-radius: 17px;
    text-align: center;
}

.owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.bac-wl{
    background-color: #59babd;
    padding-top: 55px;
    padding-bottom: 5px;


}


.it-img{
    width: 36%; 
    margin: auto;
}

.bt-chitiet{
        margin-top: 5px;
}

.like-item{
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    border-radius: 10px;
    border-radius: 10px;
}

.like-item img {
    width: 100%;
    height: 26%;
}
.item h4{
    color: rgba(0, 0, 0, 0.87);
    font-family: 'SF-UI-Display-Thin';
    font-weight: 700;
}
a:hover{
    color: none !important;
}
.favorite {
	width: 326px;
    flex-shrink: 0;
    margin-right: 18px;
    margin-left: 0px;
}
.favorite img{
    width: 100%;
    border-radius: 12px;
}
.favorite figcaption{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: grid;
    position: absolute;
    background: linear-gradient( 0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50% );
    transition: all 1s ease;
    grid-auto-rows: min-content;
    padding-bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.favorite .jss109 {
    width: 100%;
    bottom: -60px;
    position: absolute;
    transition: all 1s ease;
}
.MuiTypography-colorTextSecondary {
    color: #fff;
}
.MuiTypography-alignCenter {
    text-align: center;
}
.MuiTypography-h2 {
    font-size: 24px;
    font-family: 'SF-UI-Display-Thin';
    font-weight: bold;
    line-height: 1.25;
    white-space: pre-line;
}
.MuiTypography-root {
    margin: 0;
}
.jss111 {
    margin-top: 4px;
}
.jss112 {
    height: 2px;
    margin: 20px 0;
    opacity: 0;
    transition: all 1s ease;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.jss113 {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease;
    line-height: 2;
    padding-left: 8px;
    padding-right: 8px;
}
.jss114 {
    width: 100%;
    opacity: 0;
    padding: 12px 52px;
    box-shadow: unset;
    margin-top: 20px;
    transition: all 1s ease;
    visibility: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.MuiButton-containedSecondary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #F7981D;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.MuiTypography-h6 {
    font-size: 16px;
    font-family: 'SF-UI-Display-Thin';
    font-weight: bold;
    line-height: 1.25;
    white-space: pre-line;
}
.MuiTypography-root {
    margin: 0;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}