.link-modal-1 {
  font-size: 14px;
  height: 17px;
  cursor: pointer;
  color: #25a8ed; }
  .link-modal-1 .modal-dialog {
    max-width: 900px; }
    .link-modal-1 .modal-dialog .modal-header {
      padding: 10px;
      color: #000; }
    .link-modal-1 .modal-dialog .modal-body {
      padding: 10px;
      padding-left: 35px; }
      .link-modal-1 .modal-dialog .modal-body ul {
        color: #747474;
        list-style: inherit; }
        .link-modal-1 .modal-dialog .modal-body ul li {
          list-style: inherit; }
          .link-modal-1 .modal-dialog .modal-body ul li:last-child {
            font-weight: inherit;
            font-size: inherit;
            color: inherit;
            width: auto;
            float: left;
            padding: 0; }

.click-modall {
  color: #25a8ed;
  font-size: 14px; }
  .click-modall a:hover {
    text-decoration: none; }

.link-modal-3 {
  font-size: 14px;
  height: 17px;
  cursor: pointer;
  color: #25a8ed; }
  .link-modal-3 .modal-dialog {
    max-width: 900px; }
    .link-modal-3 .modal-dialog .header-hospitals {
      background: #185488;
      color: #fff;
      border-radius: 4px 4px 0 0;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: #fff; }
      .link-modal-3 .modal-dialog .header-hospitals button {
        color: white; }
      .link-modal-3 .modal-dialog .header-hospitals img {
        height: 37px;
        width: 37px; }
      .link-modal-3 .modal-dialog .header-hospitals .img-title {
        display: flex;
        align-items: center;
        align-content: center; }
      .link-modal-3 .modal-dialog .header-hospitals .pos-rel {
        display: flex;
        align-items: center;
        align-content: center; }
        .link-modal-3 .modal-dialog .header-hospitals .pos-rel .search-city-box-inner {
          width: 100%;
          padding: 10px 30px 10px 18px;
          border-radius: 21px;
          border: 1px solid #fff;
          background: transparent;
          color: #fff; }
          .link-modal-3 .modal-dialog .header-hospitals .pos-rel .search-city-box-inner:focus {
            outline: none; }
          .link-modal-3 .modal-dialog .header-hospitals .pos-rel .search-city-box-inner::placeholder {
            color: #fff; }
        .link-modal-3 .modal-dialog .header-hospitals .pos-rel .search-bot-icon {
          position: absolute;
          top: 10px;
          z-index: 9;
          right: 45px;
          color: #fff;
          font-size: 22px; }
      .link-modal-3 .modal-dialog .header-hospitals .close {
        padding: 0;
        margin-right: 5px; }
        .link-modal-3 .modal-dialog .header-hospitals .close:focus {
          outline: none; }
    .link-modal-3 .modal-dialog .modal-body {
      padding: 10px;
      padding-left: 35px; }
      .link-modal-3 .modal-dialog .modal-body ul {
        color: #747474; }

#coveredFor2, #coveredFor3 {
  display: none; }

#planList2:hover #coveredFor2 {
  display: block; }

#planList3:hover #coveredFor3 {
  display: block; }

.product-buy {
  color: white; }

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px; }

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.active1:after {
  content: "\2212";
  font-size: 25px; }

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1; }

.collap {
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none; }

.collap:after {
  content: '';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.content2 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1; }
  #divcallme{
    display: flex;
    justify-content: center;
    background: #005387;
    align-items: center;
    margin: 0px 30px;
    padding-left: 10px;
  }