* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  font-size: 13px;
  background: #f9f9f9 url(../images/background-icons.png) center center repeat fixed !important;
}


.nav-top {
  background-color: #005387;
  height: 59px !important;
}

.dropdown-top {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding-top: 8px;
  text-align: right;
}

.dropdown-top a {
  color: #fff;
  text-decoration: none;
}

#phone {
  font-size: 22px;
  vertical-align: bottom;
  margin-right: 3px;
  color: #ebf7ff;
}

.fa-caret-down {
  font-size: 18px;
  color: #b9d9ed;
}

.dropdown-box {
  top: 38px;
  right: 3px;
  width: 250px;
  height: auto;
  padding: 20px;
  text-align: left;
  z-index: 10;
  background: #fefefe;
  box-shadow: 1px 5px 33px 4px rgb(234, 234, 234);
  border-radius: 0 0 4px 4px;
  /* display: none; */
}

.dropdown-box::before {
  content: "\f0d8";
  display: block;
  font-family: FontAwesome;
  position: absolute;
  top: -25px;
  right: 15%;
  font-size: 40px;
  color: #fff;
  margin-left: -10px;
}

.dropdown-box .smallTxt {
  color: #969494;
}

.dropdown-box i {
  font-size: 27px;
  float: left;
  margin-right: 6px;
  margin-top: 4px;
}

.dropdown-box span {
  font-size: 12px;
  font-weight: 400;
}

.item1 span,
.item1 i {
  color: #f46652;
}

.item2 span,
.item2 i {
  color: #43cdb3;
}

.item1 {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  line-height: 18px;
  border-bottom: solid 1px #f3f3f3;
  padding-bottom: 15px;
  padding-top: 10px;
}

.item2 {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  line-height: 18px;
  padding-top: 15px;
}

.icon-img {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  float: none;
  background-repeat: no-repeat;
  background-position: center top;
}

#icon1 {
  background-image: url('../../images/order/icon1.png');
}

#icon2 {
  background-image: url('../../images/order/icon2.png');
}

#icon3 {
  background-image: url('../../images/order/icon3.png');
}

#icon4 {
  background-image: url('../../images/order/icon4.png');
}

.contentBox p {
  font-size: 11px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 5px;
  letter-spacing: 0.1px;
}

.contentBox h5 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  margin: 10px 0 0px 0;
  text-align: center;
  height: 32px;
}

.op-active {
  color: #000000;
  background: #f6fcff;
  border: solid 1px #57abe1 !important;
  box-shadow: 0px 3px 0px 0px #57abe1 !important;
}

.Box {
  /* height: 235px; */
  padding: 10px 12px;
  border: 1px #e6e6e6 solid;
  border-radius: 3px;
  /* display: table-cell; */
  text-align: center;
  vertical-align: top;
  position: relative;
  background: #fefefe;
  box-shadow: 0px 3px 0px 0px #ededed;
}

.radiolable input {
  position: relative;
  background-color: #fff;
  border: none;
  padding: 0px 0px 2px 0px !important;
  border-radius: 100%;
  top: 26px;
}

.txt-icon a:hover {
  color: #fff;
  text-decoration: none;
}

.hdfc-logo {
  margin-right: 10px;
}

.product-head h1 {
  font-size: 15px;
  height: 65px;
  vertical-align: middle;
  line-height: 60px;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  color: #3498db;
}

.download-pdf {
  height: 65px;
  color: #3498db;
  font-size: 12px;
  text-align: right;
  line-height: 50px;
}

.download-pdf i {
  color: #ff1d10;
}

.product-head {
  border-bottom: 1px solid #e2e2e2;
}

.box {
  padding: 20px;
  border-radius: 4px;
}

.input-radio {
  position: relative;
  background: #fff;
  border: none;
  top: 3px;
  -webkit-appearance: none;
  font-size: 13px;
  font-weight: 300;
  color: #737373;
  margin: 0;
  padding: 0;
}

.input-radio:checked::before {
  content: '\f192';
  font-family: FontAwesome;
  display: block;
  /* width: 25px;
  height: 25px;
  font-size: 22px; */
  color: #3498db;
}

.input-radio::before {
  content: '\f10c';
  font-family: FontAwesome;
  display: block;
  width: 25px;
  height: 25px;
  font-size: 29px;
}

#radio-normal::before {
  font-size: 22px;
}

.input-radio:focus {
  outline: none;
}

.options {
  padding: 0 15px;
}

.radio-option {
  border: solid 1px #d8d8d8;
}

.radio-option .radioBtn {
  font-size: 13px;
  color: #737373;
}

.sticky-right {
  top: 10px !important;
  position: sticky !important;
}

.right-item1 {
  padding: 20px;
  border-radius: 4px;
  background: #fefefe;
  box-shadow: 0 0 33px 4px rgb(234, 234, 234);
}

.right-top {
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
  padding-bottom: 10px;
  color: #737373;
  font-size: 13px;
}

.right-top i {
  color: #3498db;
}

.right-top span {
  font-size: 30px;
  color: #3498db;
  font-weight: 700;
  line-height: 34px;
  margin: 1px 0;
}

.right-top #monthly {
  color: #6b6b6b;
  font-weight: normal;
  font-size: 12px;
}

.fz-11 {
  font-size: 11px;
}

.right-top a {
  color: #3498db;
}

.right-top a:hover {
  color: #2e8ab8;
  text-decoration: underline;
}

.right-top .btn {
  min-width: 215px;
  min-height: 48px;
  padding: 0 35px;
  background-color: #f0762b;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.right-top .btn:hover {
  color: #fff;
  background-color: #ec8e1f;
  transition: 0.3s;
}

.right-bot {
  padding: 0 20px;
  padding-top: 4px;
  margin-bottom: -20px;
}

.right-bot ul {
  list-style: none;
  font-size: 12px;
}

.right-bot ul li label {
  width: 40%;
  font-weight: 400;
  color: #a3a0a0;
}

.right-bot ul li span {
  width: 60%;
  font-weight: 600;
  color: #606060;
  text-align: right;
}

.right-bot ul li em {
  font-weight: 400;
  color: #a3a0a0;
}

.right-item2 {
  margin-top: 10px;
  padding: 12px 25px;
  background: #fafafa;
  border-radius: 4px;
  line-height: 30px;
  border: 1px solid #eaeaea;
  font-size: 22px;
  color: #aaaaaa;
}

.right-item2 img {
  margin-right: 10px;
}

.right-item2 span {
  font-weight: 700;
}

.content h3 {
  color: #777777;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.content p {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.content h4 {
  color: #777777;
  font-size: 13px;
  font-weight: 600;
}

.content ul li {
  padding-bottom: 10px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 400;
}

.content ul {
  list-style: none;
}

.content ul li {
  padding-left: 10px;
}

.content ul li>ul {
  padding-left: 20px;
}

.content ul li i {
  color: #c1c1c1;
  padding-right: 4px;
}

.content ul li h4 i {
  padding-right: 10px;
}

#eligibility ul li table td {
  vertical-align: middle;
  padding: 6px 70px 6px 15px;
  border: solid 1px #dedede;
}

#eligibility ul li table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  border: solid 1px #dedede;
}

.collapse-container {
  border: solid 1px #d8d8d8;
}

/* COLLAPSEE STYLE  */
.collapse-header ul {
  list-style: none;
}

.collapse-header ul li {
  width: auto;
  float: left;
  font-size: 11px;
  padding: 0 15px 0 0px;
  font-weight: 300;
  color: #b5b4b4;
  line-height: 20px;
}

.collapse-header ul li span {
  font-weight: 500;
}

.multi-collapse label {
  font-size: 12px;
  font-weight: 400;
  color: #959595;
  width: 100%;
  display: block;
  word-wrap: break-word;
}

.multi-collapse select {
  width: 100%;
  height: 41px;
  border: solid 1px #d8d8d8;
  border-radius: 4px;
  padding: 8px 8px;
  font-weight: 400;
  transition: all 0.5s;
  box-shadow: 0px 1px 1px 0px #eaeaea;
  -webkit-appearance: none;
  background-image: url("../../images/order/select-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 13px;

}

.multi-collapse input[type='text'] {
  height: 41px;
}

.multi-collapse input::-webkit-input-placeholder {
  font-size: 13px;
  color: #cdc9c9;
}

.collapse-header button {
  width: 65px;
}

.collapse-header button:hover {
  color: #59a6df;
  background: #fdfdfd;
}

.collapse-header button i {
  color: #59a6df;
}

.radioQuestion label {
  font-size: 13px;
}

.radioQuestion label:first-child {
  position: relative;
  overflow: hidden;
  padding-right: 23px;
  text-align: left;
}

.radioQuestion .col-lg-9::after {
  content: "";
  position: absolute;
  /* top: 12px; */
  bottom: 10%;
  margin-left: 2px;
  width: 64%;
  border-bottom: 1px dashed #d8d8d8;
}

.radioQuestion .radioBtn {
  text-align: left;
  vertical-align: middle;
  padding-left: 0px;
  vertical-align: bottom;
  margin-top: 68px;

}

.radioBtn input {
  position: relative;
  top: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: none transparent;
  background: transparent;
  margin-right: 5px;

}

.radioBtn input::before {
  content: "\f10c";
  font-family: FontAwesome;
  display: block;
  width: 15px;
  height: 15px;
  font-size: 20px;
  border: none transparent;
  background: transparent;
}

.radioDiv {
  border: solid 1px #d8d8d8;
  border-radius: 4px;
  padding-left: 7px;
  height: 41px;
  font-weight: 400;
  transition: all 0.5s;
  box-shadow: 0px 1px 1px 0px #eaeaea;
}

.radioDiv label {
  width: 25%;
}

/* checkbox click */
.header-expanded {
  background: #ebf7ff !important;
  border: solid 1px #c9e3f5 !important;
  padding: 8px 20px !important;
}

.collapse-header {
  cursor: pointer;
  padding: 10px 20px;
}

.collapse-header h4 {
  font-size: 15px;
  font-weight: 500;
  color: #636363;
}

.collapse-header .toggle-btn {
  font-size: 12px;
}

.collapse-header .close-btn {
  border: solid 1px #b1d5ec;
  color: #c9e3f5;
  font-size: 18px;
  height: 36px;
  width: 40px;
  line-height: 22px;
}

.collapse-header .close-btn::before {
  content: '\f068';
  font-family: FontAwesome;
  display: inline-block;
}

.table-add-on {
  border: solid 1px #eaeaea;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
  color: #959595;
  outline: none;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.table-add-on th {
  padding: 10px 20px;
  border: solid 1px #eaeaea;
}

.table-add-on td {
  padding: 10px 20px;
  border: solid 1px #eaeaea;
}

.table-add-on td label {
  position: relative;
  padding-left: 28px;
}

.table-add-on td label input[type='checkbox'] {
  position: absolute;
  margin-top: 0px;
  left: 0px;
}

.table-add-on .col-tb-1 {
  width: 31%;
}

.table-add-on .col-tb-2 {
  width: 34%;
  padding: 10px 30px;
}

.table-add-on .col-tb-3 {
  width: 16%;
}

.table-add-on .col-tb-4 {
  width: 19%;
}

.custom-checkbox {
  font-size: 13px;
  font-weight: 300;
  color: #737373;
  -webkit-appearance: none;
}

.custom-checkbox::before {
  content: '\f096';
  font-family: FontAwesome;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 24px !important;
}

.custom-checkbox:checked::before {
  content: '\f14a';
  font-family: FontAwesome;
  display: block;
  width: 15px;
  height: 15px;
  font-size: 22px;
  color: #3498db;
}

.custom-checkbox:checked .active {
  visibility: visible;
}

@media only screen and (max-width: 992px) {
  .none-option {
    display: none !important;
  }

  #none-ml {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  #none-padding {
    padding-left: 15px !important;
  }

  .right-top .button {
    background: #f5b893;
    height: 64px !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .right-top .btn {
    background: #f5b893;
    width: 100% !important;
  }

  .right-top .btn-left {
    background-color: #3498db;
    height: 64px;
    padding-top: 11px;
  }

  .right-top span,
  .right-top i {
    font-size: 20px;
    line-height: 18px;
    color: #fff !important;

  }

  .right-top #view,
  #view i {
    font-size: 13px;
    color: #fff;
    /* margin: -32px 0 !important; */
  }

  .right-top #monthly {
    color: #000000 !important;
  }

  .right-item1 {
    position: fixed !important;
    z-index: 10000;
    padding-top: 0px;
    bottom: -30px;
  }

  .container {
    max-width: 768px !important;
  }

  .right-top {
    border: none !important;
  }

  #none-ml {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 576px) {
  .Box {
    margin-top: 20px;
  }

  #none-ml.right-item2 {
    display: none !important;
  }
}

.scrollspy-menu-space {
  padding-left: 100px !important;
}

.sticky {
  border-radius: 4px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9999;
  padding: 10px;
  box-shadow: 0px 0px 33px 4px rgb(234, 234, 234);
}

.bgr-white {
  background-color: #fefefe;
  box-shadow: 0px 0px 33px 4px rgb(234, 234, 234);
}

.footer {
  width: 100%;
  float: left;
  font-size: 11px;
  color: #adadad;
  padding: 20px 0 10px 0;
  text-align: center;
  display: block;
  background: #f9f9f9;
  border: solid #f9f9f9 1px;
}

.menu-left {
  position: fixed;
  z-index: 1000;
  left: 6%;
  top: 150px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 33px 4px rgb(234, 234, 234);
}

.menu-left ul {
  width: 85px;
}

.menu-left i {
  display: block;
  text-align: center;
  font-size: 20px;

}

.menu-left a {
  color: #636363;
  padding: 15px 10px;
}

RAW Paste Data .menu-left {
  position: fixed;
  z-index: 1000;
  left: 50px;
  top: 150px;
  background: #fff;
  box-shadow: 0px 0px 33px 4px rgb(234, 234, 234);
}

.menu-left ul {
  width: 85px;
}

.menu-left i {
  display: block;
  text-align: center;
  font-size: 20px;

}

.menu-left ul li {
  width: 100%;
  border-bottom: solid 1px #f3f3f3;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.menu-left a {
  color: #636363;
  padding: 15px 10px;
}

.menu-left a:hover {
  color: inherit;
}

.active {
  background: #3498db;
  color: #fff !important;
}

.active i {
  color: #fff
}

a.active::after {
  content: "";
  display: block;
  font-family: FontAwesome;
  position: absolute;
  right: -74px;
  margin-top: -31px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #3498db;
}

#feat a.active::after {
  right: -9px;
}

.navbar-brand img{
  width: 150px;
  height: 35px;
}